body{
    font-family: Arial, Helvetica, sans-serif;
}
.tableRow{
    border: solid 2px;
}
.fullName{
    margin-top: 0px;
}
h2{
    display: flex;
    justify-content: center;
    color: darkblue;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: darkblue;
    color: white;
    height: 50px;
}
#titleHeder{
    display: flex;
    justify-content: center;
}
#allposition{
    display: flex;
    justify-content: space-around;
}
#btnto{
    display: flex;
    justify-content: space-between;
}
#secendDiv{
    display: flex;
    flex-direction: column;
    margin-left: 450px;
    margin-right: 450px;
    justify-content: center;
}
#forTable{
    overflow: scroll
}

#searchFrom{
    display: flex;
flex-direction: column;
margin-top: 40px;
margin-left: 50px;
margin-right: 50px;
}
.titleFrom{
    color: blue;
    display: flex;
    justify-content: center;
}

#submitBtn{
    margin-right: 200px;
    margin-left: 200px;
    background-color: darkblue;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
#dataTable{

    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    overflow: scroll;
}
.allCards{
    background-color:#F0F0F0;
    border-radius: 10px;
    box-shadow: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 250px;
    width: 200px;
}
.addBtn{
    background-color: darkblue;
    color: white;
    margin: 10px 5px 10px 5px;
    border-radius: 4%;
    
}
.divtoadd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#secendDiv{
    background-color:#F0F0F0;
    border-radius: 10px;
    box-shadow: 10%;
    
}
th{
    background-color: red;
    height: 50px;
}
table,td{
    border: solid 0.5px;
    border-collapse: collapse ;
    height: 50px;
    justify-items: center;
    align-items: center;
    margin-left: 5px;
 

}
.action{
    max-width: 100px;
}